<h1> Departments <h1>

  <% @departments.each do |department| %>
  <div id="department-<%= department.id %>">
  <h2>Name:<%= department.name %> </h2>
  <h3>Floor:<%= department.floor %> </h3>
  <% department.employees.each do |employee| %>
  <p>Employees:<%= employee.name %> </p>
  </div>
  <% end %>
<% end %>
